<template>
  <div class="tab-header">

    <tab-item
      @activated="updateActiveTab"
      v-for="heading in headings"
      :name="heading"
      :class="[activeTab == heading ? 'tab-item tab-active' : 'tab-item']">
    </tab-item>

  </div>
</template>

<script>
  import TabItem from './TabItem.vue'

  export default {
    data () {
      return {
        headings: ['Future Vision', 'Currently Reality', 'Past Tasks'],
        activeTab: ''
      }
    },
    components: {
      'tab-item': TabItem
    },
    methods: {
      updateActiveTab (tab) {
        this.activeTab = tab.innerHTML
        console.log(tab.innerHTML)
      }
    }
  }

</script>

<style>
  .tab-item {
    font-size: 1.2em;
    margin-right: 2.5em;
    color: grey;
  }

  .tab-item:hover {
    color: black;
  }

  .tab-active {
    color: black;
    border-bottom: 3px solid lightblue;
    padding-bottom: 1em;
  }

  .tab-header {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
  }
</style>
