<template>
  <span @click="activate">{{ name }}</span>
</template>

<script>
  export default {
    props: ['name'],
    data () {
      return {
      }
    },

    methods: {
      activate (event) {
        this.active = true;
        this.$emit('activated', event.srcElement)
      }
    }
  }
</script>

<style>

</style>
